depcomp
install-sh
ltmain.sh
missing
INSTALL
stamp-h1
libtool
aclocal.m4
autom4te.cache
py-compile

config.*
configure

Makefile
Makefile.in
Makefile.in.in 

.deps
src/host_os.h

po/POTFILES
po/stamp-it

wrapper/ibus/setup/ibus-setup-sunpinyin
wrapper/ibus/src/sunpinyin.xml.in

wrapper/macos/build/
wrapper/macos/zh_CN.lproj/MainMenu.xib
*.nib
