depcomp
install-sh
ltmain.sh
missing
INSTALL
stamp-h1
libtool
aclocal.m4
autom4te.cache
py-compile

config.*
configure

Makefile
Makefile.in
Makefile.in.in 

*.pc
*.pyc
*.o
*.os
*.lo
*.loT
*.so
*.a
*.bz2
.libs
cscope.out

.sconf_temp/*
.sconsign.dblite
configure.conf

