depcomp
install-sh
ltmain.sh
missing
INSTALL
stamp-h1
libtool
aclocal.m4
autom4te.cache
py-compile

config.*
configure

Makefile
Makefile.in
Makefile.in.in 

.deps
src/host_os.h

data/lm_sc.t3g*
data/pydict_sc.bin*

raw/dict.utf8
raw/lm_sc.t3g.arpa

po/POTFILES
po/stamp-it
po/Makefile.in.in

wrapper/ibus/setup/ibus-setup-sunpinyin
wrapper/ibus/src/sunpinyin.xml.in

wrapper/macos/SunPinyin.xcodeproj/*.mode1v3
wrapper/macos/SunPinyin.xcodeproj/*.pbxuser
wrapper/macos/build/
wrapper/macos/zh_CN.lproj/MainMenu.xib
wrapper/macos/packaging/SunPinyin-MacOS-2.0.zip
wrapper/macos/packaging/SunPinyin/DownloadDataFiles/build/
wrapper/macos/packaging/SunPinyin/build/
wrapper/macos/packaging/sunpinyin_appcast.xml
*.nib

build/*
swap/*

*.o
*.lo
*.loT
*.bz2
.libs
