Source: sunpinyin
Section: utils
Priority: optional
Maintainer: Kov Chai <tchaikov@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, pkg-config,
 libibus-dev (>= 1.2), libsqlite3-dev (>= 3.6), sqlite3,
 python-support
DM-Upload-Allowed: yes
Standards-Version: 3.8.3
Homepage: http://www.opensolaris.org/os/project/input-method/

Package: ibus-sunpinyin
Architecture: any
Section: utils
Depends: ${sunpinyin-data-depends}, ${python:Depends},
 ${shlibs:Depends}, ${misc:Depends}, ibus (>= 1.2)
Description: Sunpinyin input method engine for ibus
 Sunpinyin is an SLM based input method engine developed by Sun.
 .
 This package contains SunPinyin input method for SCIM.

Package: sunpinyin-data-le
Architecture: all
Depends: ${misc:Depends}
Enhances: ibus-sunpinyin
Conflicts: sunpinyin-data-be
Description: Little-endian data file for SunPinyin input method engine
 Sunpinyin is an SLM based input method engine developed by Sun.
 .
 This package contains necessary lexicon data and its index data files
 needed for the sunpinyin input methods on little endian architectures.

Package: sunpinyin-data-be
Architecture: all
Depends: ${misc:Depends}
Enhances: ibus-sunpinyin
Conflicts: sunpinyin-data-le
Description: Big-endian data file for SunPinyin input method engine
 Sunpinyin is an SLM based input method engine developed by Sun.
 .
 This package contains necessary lexicon data and its index data files
 needed for the sunpinyin input methods on big endian architectures.
