<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pinyinMode</key>
	<integer>0</integer>
	<key>inputChinesePuncts</key>
	<true/>
	<key>inputFullSymbols</key>
	<false/>
	<key>switchingPolicy</key>
	<integer>0</integer>
	<key>commitPolicy</key>
	<integer>1</integer>
	<key>usingUSKbLayout</key>
	<false/>
	<key>alpha</key>
	<integer>80</integer>
	<key>radius</key>
	<integer>5</integer>
	<key>pagingByMinusAndEqual</key>
	<false/>
	<key>pagingByBrackets</key>
	<false/>
	<key>pagingByCommaAndDot</key>
	<false/>
	<key>pagingByArrowUpAndDown</key>
	<false/>
	<key>candiNumbers</key>
	<integer>9</integer>
	<key>fontName</key>
	<string>Hei</string>
	<key>fontSize</key>
	<string>16</string>
	<key>charset</key>
	<string>GB18030</string>
	<key>bgColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>fgColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>hlColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg83MzD4BAQGG</data>
	<key>cancelSelectionOnBackspace</key>
	<true/>
	<key>Quanpin.FuzzySegs.Enabled</key>
	<true/>
	<key>Quanpin.FuzzySegs.InnerFuzzy.Enabled</key>
	<false/>
	<key>Quanpin.Fuzzy.Enabled</key>
	<false/>
	<key>Quanpin.Fuzzy.SimplerInitials</key>
	<true/>
	<key>Quanpin.Fuzzy.ZhiZi</key>
	<false/>
	<key>Quanpin.Fuzzy.ChiCi</key>
	<false/>
	<key>Quanpin.Fuzzy.ShiSi</key>
	<false/>
	<key>Quanpin.Fuzzy.AnAng</key>
	<false/>
	<key>Quanpin.Fuzzy.OnOng</key>
	<false/>
	<key>Quanpin.Fuzzy.EnEng</key>
	<false/>
	<key>Quanpin.Fuzzy.InIng</key>
	<false/>
	<key>Quanpin.Fuzzy.EngOng</key>
	<false/>
	<key>Quanpin.Fuzzy.IanIang</key>
	<false/>
	<key>Quanpin.Fuzzy.UanUang</key>
	<false/>
	<key>Quanpin.Fuzzy.NeLe</key>
	<false/>
	<key>Quanpin.Fuzzy.FoHe</key>
	<false/>
	<key>Quanpin.Fuzzy.LeRi</key>
	<false/>
	<key>Quanpin.Fuzzy.KeGe</key>
	<false/>
	<key>Quanpin.AutoCorrecting.Enabled</key>
	<false/>
	<key>Quanpin.AutoCorrecting.GnNg</key>
	<false/>
	<key>Quanpin.AutoCorrecting.UenUn</key>
	<false/>
	<key>Quanpin.AutoCorrecting.ImgIng</key>
	<false/>
	<key>Quanpin.AutoCorrecting.IouIu</key>
	<false/>
	<key>Quanpin.AutoCorrecting.UeiUi</key>
	<false/>
	<key>Shuangpin.Scheme</key>
	<integer>0</integer>
	<key>punctationMappings</key>
	<array>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>SPACE</string>
			<key>mappedString</key>
			<string>　</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>,</string>
			<key>mappedString</key>
			<string>，</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>;</string>
			<key>mappedString</key>
			<string>；</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>!</string>
			<key>mappedString</key>
			<string>！</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>?</string>
			<key>mappedString</key>
			<string>？</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>.</string>
			<key>mappedString</key>
			<string>。</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>:</string>
			<key>mappedString</key>
			<string>：</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>^</string>
			<key>mappedString</key>
			<string>……</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>\</string>
			<key>mappedString</key>
			<string>、</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>&quot;</string>
			<key>mappedString</key>
			<string>“</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>&quot;</string>
			<key>mappedString</key>
			<string>”</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>&apos;</string>
			<key>mappedString</key>
			<string>‘</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>&apos;</string>
			<key>mappedString</key>
			<string>’</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>_</string>
			<key>mappedString</key>
			<string>——</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>&lt;</string>
			<key>mappedString</key>
			<string>《</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>&gt;</string>
			<key>mappedString</key>
			<string>》</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>(</string>
			<key>mappedString</key>
			<string>（</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>)</string>
			<key>mappedString</key>
			<string>）</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>[</string>
			<key>mappedString</key>
			<string>【</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>]</string>
			<key>mappedString</key>
			<string>】</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>{</string>
			<key>mappedString</key>
			<string>『</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>}</string>
			<key>mappedString</key>
			<string>』</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>ASCII</key>
			<string>$</string>
			<key>mappedString</key>
			<string>￥</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>*</string>
			<key>mappedString</key>
			<string>×</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>+</string>
			<key>mappedString</key>
			<string>＋</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>|</string>
			<key>mappedString</key>
			<string>｜</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>=</string>
			<key>mappedString</key>
			<string>＝</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>-</string>
			<key>mappedString</key>
			<string>－</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>~</string>
			<key>mappedString</key>
			<string>～</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>/</string>
			<key>mappedString</key>
			<string></string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>@</string>
			<key>mappedString</key>
			<string></string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>#</string>
			<key>mappedString</key>
			<string></string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>%</string>
			<key>mappedString</key>
			<string></string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>&amp;</string>
			<key>mappedString</key>
			<string></string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>ASCII</key>
			<string>`</string>
			<key>mappedString</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
